<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>979921148562-mh3ia3g4fjo207rinmj44cci38dc4l5u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.979921148562-mh3ia3g4fjo207rinmj44cci38dc4l5u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>979921148562-od4fmpjr52b6ifsrrjelqcak4jnrafaf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDPd81nPe-24znfexniivH4dEZrLNK556Q</string>
	<key>GCM_SENDER_ID</key>
	<string>979921148562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.geniaes.teachers</string>
	<key>PROJECT_ID</key>
	<string>geniaes-57aca</string>
	<key>STORAGE_BUCKET</key>
	<string>geniaes-57aca.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979921148562:ios:b44eef275a8c7e23f1644b</string>
</dict>
</plist>